@model Service.DataLayer.ViewModels.CreateRoleViewModel
@{
    Layout = "~/Views/Shared/_Home.cshtml";
    ViewBag.Title = "Add Role";
}

<br />
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Add Role</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">


                        <form asp-action="CreateRole" method="post" class="mt-3" novalidate="novalidate">

                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group has-success">
                                <label asp-for="RoleName" class="control-label mb-1">Role Name</label>
                                <input asp-for="RoleName" type="text" class="form-control cc-name valid" placeholder="Role Name">
                                <span asp-validation-for="RoleName" class="text-danger"></span>
                            </div>


                            <div>

                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <i class="fa fa-lock fa-lg"></i>&nbsp;
                                    <span id="payment-button-amount">Add Role</span>
                                    <span id="payment-button-sending" style="display:none;">Sending…</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>